<% title "Statuses" %>

<p>
  <%= render :partial => 'statuses/form', :locals => { :status => Status.new } %>
</p>

<table>
  <% for status in @statuses %>
    <tr>
      <td><b><p><%= h status.user.username+' :' if status.user %></p> </b></td>
      <td>
        <p>
          <%=h status.message %>
        </p>  
        <div class="time">
          <%=h status.created_at.strftime('%b %d, %Y') %>
        </div>
      
      </td>
    </tr>
  <% end %>
</table>
